<mat-card appearance="raised">
  <h2 class="card__title" *ngIf="model.title.length" mat-card-title>{{ model.title }}</h2>
  <mat-card-content>
    <div class="card__content">
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input [value]="(model.optional.cardData | async)?.value" (input)="onInput($event)" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Currency</mat-label>
        <mat-select [value]="(model.optional.cardData | async)?.currency" (selectionChange)="onSelect($event.value)">
          <mat-option value="UAH">UAH</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="EUR">EUR</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
